/*Contains CSS of elements that are common throughout the HTML files*/


/*CSS for the page*/
html{
    scroll-behavior: smooth;                            /* Enable smooth scrolling behavior */
    height: 100%;                                       /* Set the height of the HTML element to 100% */
    scroll-padding-top: 60px;                           /* Add padding to the top to avoid content hiding under the fixed navbar */
}


/*CSS for body*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #EDEAE5;
}


/*CSS for navbar*/
#navbar{
    background-color: #55CBCD;
    display: flex;
    position: sticky;
    top: 0px;                /*navbar CSS here*/
    z-index: 10;
}

.logo{
    font-size: 30px;        
    padding: 15px;           /*logo CSS here*/
    margin: 0;
    width: 100vh;
}

.nav-items{
    position: relative;
    margin-left: 60px;
    margin-top: auto;        /*navbar items CSS here*/
    margin-bottom: auto;
    font-size: 20px;
    font-weight: 600;
}

#navbar a{
    text-decoration: none;
    color: #ffffff;        /*navbar links CSS here*/
    padding: 15px;
    transition: 0.5s;
}

#navbar a:hover{
    color: #A3E1DC;         /*navbar links hover CSS here*/
}

/* CSS to hide the scrollbar for webkit-based browsers */
body::-webkit-scrollbar {
    display: none;
}