@font-face {
    font-family: St Marie;
    src: url(../fonts/StMarie-Thin.otf);
}

@font-face {
    font-family: Plutur;
    src: url(../fonts/Plutur.ttf);
}

/*Contains CSS for Home page unique elements*/

#content{
    width: 100%;
}

.main-text p, .main-text h1{
    margin:0;
    padding-left: 1%;
}

#content{
    margin-top: calc(55/1252.89 * 100%);
    width: 100%;
    height: 100%;
}


/*for the background video */
#startVideo{
    margin-top: 0px;
    width: 100%;
    height: auto;
    z-index: 1;
}

#start-bg{
    position:relative;
    width: 100%;
}

#start-content {
    margin-top: calc(60/1252.89 * 100%);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

#start-content h1 {
    font-family: Plutur;
    display: block;
    mix-blend-mode: overlay;
    padding: 5px;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

#start-content p{
    font-family: St Marie;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding-top: 3px;
}

.explorelink{
    color: white;
    text-decoration: none;
    font-weight: 900;
}

.explorelink:hover{
    color: black;
    text-decoration: none;
}

#start-content button{
    font-family: St Marie;
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 40px;
    margin-bottom: 10%;
    margin-top: 1%;
    transition: 0.5s;
    border: 2px solid white;
}

#start-content button:hover{
    background-color: white;
    color: #000000;
}

/* Top Destinations section */
#top-destination{
    position: relative;
    width: 100%;
    color: white;
    min-height: 600px;
    /* display:none; */
}

#top-destination h1{
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 5%;
}

#top-destination p{
    font-family: St Marie;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 3%;
}

/* CSS for Top-Destinations */
/*CSS for Top Destinations*/

.video-card-container {
    position: relative;
    width: 92%;
    padding-left: 10px;
    margin: 0 auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.video-card-container::-webkit-scrollbar {
    display: none;
}
 
.video-card {
    position: relative;
    min-width: calc(100% / 5 - 10px);
    width: calc(100% / 5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: 0.5s;
}

.video-card-image,
.card-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
  
.card-video {
    position: absolute;
    width: 100%;
    height: auto;
}
  
.video-card:hover .video-card-image {
    display: none;
    width: 100%;
    height: auto;
}
.pre-btn,
.nxt-btn {
    position: absolute;
    top: 40%;
    width: 3%;
    height: 100px;
    z-index: 2;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid white;
    transition: 0.5s;
    margin-top: 0.8%;
}
  
.pre-btn {
    background-color: #000000;
    margin-left: 0.5%;
}
  
.nxt-btn {
    right: 0;
    background-color: #000000;
    margin-right: 0.6%;
}

.pre-btn:hover, .nxt-btn:hover {
    background-color: white;
    color: #000000;
}
  
.pre-btn span,
.nxt-btn span {
    position: relative;
    top: 5%;
    opacity: 1;
    left: 4px;
    right: 4px;
    color: white;
}
 
.nxt-btn span{
    margin-right: 100%;
}

.pre-btn:hover span,
.nxt-btn:hover span {
    color: #000000;
}

.vdobtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 62px;
    padding: 36px 36px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 5;
    
  }

.vdolink{
    color: transparent;
}

@media screen and (max-width: 420px) {

    #startVideo{
        width: auto;
        height: 100%;
        min-height: 100vh;
    }
    
    #start-content h1 {
        padding: 5px;
        padding-bottom: 0;
        font-size: 40px;
    }
    
    #start-content p{
        font-size: 15px;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
    }
    
    #start-content button{
        font-size: 14px;
        margin-top: 1vh;
    }
}