@font-face {
    font-family: St Marie;
    src: url(../fonts/StMarie-Thin.otf);
}

@font-face {
    font-family: Plutur;
    src: url(../fonts/Plutur.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    background-image: url('../images/starry_night.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
  }

h1 {
    color: white; /* Gold color for headings */
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 550px;
    padding: 20px;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .carousel {
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
  }
    
  .slider {
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
  }
  
  .slider img {
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
  }
  
  .slide-content {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #030b17 80%, #0c111b00);
    color: #fff;
    padding-top: 120px;
    padding-right: 20px;
  }
  
  .activity-title {
    font-family: Plutur;
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
  }
  
  .activity-des {
    font-family: St Marie;
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8;
  }
  
  #start-content{
    width: 100%;
    height: auto;
    display: flex;
  }

.toggleBtn{
    font-family: St Marie;
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 40px;
    margin-bottom: 10%;
    transition: 0.5s;
    border: 2px solid white;
    position: absolute;
    left: 45%;
    margin-top: 10px;
}

button:hover{
    background-color: white;
    color: #000000;
}

#headingmain{
    padding: 5px;
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    margin: 0;
    color: white;
}

.spacing{
  padding:7vh;
}

/* responsive for portrait */

@media screen and (max-width: 600px) {

  h1{
    font-size: 30px;
    padding-bottom: 0;
  }
  .carousel-container {
    margin-top: 0;
    padding-top: 0;
    height: 70vh;
  }

  .slide-content {
    width: 100%;
    height: 60%;
    padding-top: 0;
    padding-right: 0;
    text-align: center;
    background: linear-gradient(#030b17 80%, #0c111b00);
  }

  .activity-title {
    padding: 5px;
    padding-top: 10px;
    margin: 0;
    font-size: 25px;
  }

  .activity-des {
      font-size: 12px;
      width: 100%;
      padding: 10px;
      margin-top: 2px;
  }
  
  .slider img{
    margin-top: 50%;
    width: 100%;
    height: auto;
  }

  #start-content{
    flex-direction: column;
  }

  .toggleBtn{
    position: relative;
    left: 0;
    margin: 0;
    margin-top: 10px;
  }

  #headingmain{
    font-size: 30px;
  }

}