#navbar{
  background-color: #000000;
  display: flex;
  position: fixed;
  top: 0px;                /*navbar CSS here*/
  z-index: 100;
  height: 7.982%;
  height: calc(100/1252.89 * 100%);
  min-height: 55px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo{
  font-size: 30px;        
  padding: 0.6%;          /*logo CSS here*/
  margin: 0;
  width: 55%;
  font-family: "Plutur";
}

.nav-items{
  position: relative;
  margin-left: 2%;
  margin-top: auto;        /*navbar items CSS here*/
  margin-bottom: auto;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

#navbar a{
  text-decoration: none;
  color: #ffffff;        /*navbar links CSS here*/
  padding: 1%;
  transition: 0.5s;
}

#navbar a:hover{
  color: #55CBCD;         /*navbar links hover CSS here*/
}
.navbar-links {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar-links li {
  list-style: none;
  width: 100%;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  text-align: center;
}


.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  #navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
      justify-self: right ;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
      align-items: flex-start;
      z-index:10001 ;
  }
}

#side-drawer {
  width: 100%;
  height: 100%;
  background-image: url("../images/starry_night.jpg");
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 10000;
}
#side-drawer h1 a{
  text-decoration: none;
  color: white;  
}
#side-drawer .logo{
  margin-right: 34px;
}